.main {
    background: var(--grey);
}

.loginForm {
    width: 80%;
    margin: 7rem auto;
    border: 2px solid var(--blue3);
    border-radius: 0.5rem;
}
.loginFormHeading {
    background: var(--orange3);
    color: #fff;
    padding: 0.5rem 0;
    text-align: center;
    font-weight: 300;
    font-size: 1.3rem;
}
